{{>base}}
{{>header}}
<form action="" method="post">
  <div class="form-floating mb-3">
  <input type="text" class="form-control" name="name"  id="floatingInput" placeholder="enter name">
  <label for="floatingInput">Name</label>
</div>
<div class="form-floating">
  <input type="email" class="form-control" name="email" id="floatingPassword" placeholder="email">
  <label for="floatingPassword">email</label>
</div>
<div class="form-floating mb-3">
  <input type="phone" class="form-control" name="phone" id="floatingInput" placeholder="phone">
  <label for="floatingInput">phone</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="cpassword"  id="floatingPassword" placeholder="cPassword">
  <label for="floatingPassword">cPassword</label>
</div>
<button class="btn btn-primary">submit</button>
</form>